* {margin: 0; padding: 0; box-sizing: border-box; font-family: 'NanumGothic'; font-size: 15px;}
#n_container {width: auto; padding: 0;}
table, tbody, table tr, table tr td {display: inline-block; width: 100%; float: left;}

/*
@media screen and (min-width:0\0){
    table, tbody, table th, table td {width: 1890px;}
}
@media screen and (min-width:0\0) and (max-width:1889px) {table, tbody, table th, table td {width: 1600px;}}
@media screen and (min-width:0\0) and (max-width:1620px) {table, tbody, table th, table td {width: 1500px;}}
@media screen and (min-width:0\0) and (max-width:1480px) {table, tbody, table th, table td {width: 1340px;}}
@media screen and (min-width:0\0) and (max-width:1370px) {table, tbody, table th, table td {width: 1300px;}}
@media screen and (min-width:0\0) and (max-width:1279px) {table, tbody, table th, table td {width: 1260px;}}
*/

.fg_form li.li_text table td {margin-top: -3px;}
.fg_form li label{display:inline-block; width: 85px; font-weight:700; font-size:15px; letter-spacing:-1px; text-align:left; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    table, tbody, table th, table td {width: 100%; background: #fff;}
}