body {background: #f5f6fb;}
ul {list-style: none;}
a {text-decoration: none; color: inherit;}
table caption {position: absolute; width: 1px !important; height: 1px !important; padding: 0 !important; margin: -1px !important; overflow: hidden !important; clip: rect(0, 0, 0, 0) !important; white-space: nowrap !important; border: 0 !important;}
/*@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);*/

.contents {width: 1100px; margin: 0 auto;}

.cont_w100 {display: inline-block;}
.cont_w30 {float: left; width: 32%; margin-left: 2%;}
.cont_w50 {float: left; width: 49%; margin-left: 2%;}
.cont_w100 > .cont_w30:first-child, .cont_w100 > .cont_w50:first-child {margin-left: 0;}

.main_container {width: 100%; height: 580px; text-align: center;}
#main_wrap a:focus, .footer_wrap a:focus {outline: 2px solid #ff0000;}

.bigBannerRolling {float:left; position:relative; display:block; width:100%; min-width: 1280px; height:100%; overflow:hidden;}
.bigBannerRolling .bigBannerRollingWp {padding:0;}
.bigBannerRolling .banner {position:absolute;left:0;top:0; width: 100%;}
.bigBannerRolling .banner a {display: inline-block; width: 100%; height: 580px; background-position: center;}
.bigBannerRolling_btn {position:absolute; right: calc(50% - 480px); bottom:10px; z-index:10}
.bigBannerRolling_btn button {border: none; height: 30px; background: none; cursor: pointer;}

.slider-container {position: relative; overflow: hidden;}

#main-event {width: 100%; height: 580px; background: #222; z-index: 1;}
#main-event > li.active > a:focus {border: 2px solid #ff0000;}
.main_cont {height: 580px;}
.main_cont .lSSlideWrapper {height: 580px;  z-index: 1;}
.main_cont ul#main-event > li.main02_bg {width: 1920px; background: #1e1716; background-position: center; background-repeat: no-repeat;}
.main_cont ul#main-event > li.main02_bg > a {width: 1100px;}
.main_cont a {position: relative; display: inline-block; width: 100%; height: 580px; text-align: center; background-position: center; overflow: hidden;}
.main_cont a > video {position: absolute; top: 0; left: calc(50% - 960px); width: auto; height: 580px;}
.main_cont a > img {position: absolute; top: 0; left: calc(50% - 720px);}
.main_cont .a_banner02 > p {position: absolute; top: 200px; left: calc(50% + 165px);}
.main_cont .a_banner03 > p.banner_bg {position: absolute; top: 0; left: calc(50% - 960px);}
.main_cont .lSSlideOuter .lSPager.lSpg {bottom: 80px; right: calc(50% - 510px);}
.main_cont .lSSlideOuter .lSPager.lSpg > li a {background: #fff; opacity: 0.4;}
.main_cont .lSSlideOuter .lSPager.lSpg > li.active a {background: #fff; opacity: 1;}
.main_cont .lSSlideOuter .lSPager.lSpg > li:hover a {background: #fff; opacity: 1;}
.main_cont .lightSlider:before, .main_cont .lightSlider:after {display: none;}

.main_event_btn {position: absolute; bottom: -38px; left: calc(50% - 555px); z-index: 99;}
.main_event_btn > ul > li {float: left; margin-left: 7px; box-sizing: border-box;}
.main_event_btn > ul > li > a {display: inline-block; padding: 0 14px; height: 32px; line-height: 32px; font-weight: 600; background: #17ff9e; color: #000; border-radius: 24px;}
.main_event_btn > ul > li:first-child {margin-left: 0; padding: 0 11px; height: 32px; line-height: 26px; border: 2px solid #fff; color: #fff;  border-radius: 24px;}
.main_event_btn a:hover {transform:translateY(-3px);}
.main_event_btn02 > ul > li > a {background: #ff9f4f; color: #222;}
.main_event_btn03 > ul > li > a {background: #103ba2; color: #fff;}
.main_event_btn04 > ul > li > a {background: #7af0eb; color: #222;}
.main_event_btn06 > ul > li > a {background: #071832; color: #fff;}
.main_event_btn07 > ul > li > a {background: #58342d; color: #fff;}
.main_event_btn06 > ul > li:first-child {border-color: #2c2c2c; color: #2c2c2c;}
    
.main_cont .lSAction > a.lSPrev, .main_cont .lSAction > a.lSNext {position: absolute; display: inline-block; width: 33px; height: 61px; margin-top: -30px; background-position: 0 0; font-size: 0; line-height: 0;}
.main_cont .lSAction > a.lSPrev {left: 60px; background: url('/img/new_page/main_header_top_prev_wh.png') no-repeat;}
.main_cont .lSAction > a.lSNext {right: 60px; background: url('/img/new_page/main_header_top_next_wh.png') no-repeat;}

.main_cont a.ic_mbanner_pause, .main_cont a.ic_mbanner_play {position: absolute; bottom: 83px; right: calc(50% - 530px); display: inline-block; width: 14px; height: 14px; z-index: 9;}
.main_cont a.ic_mbanner_pause > img, .main_cont a.ic_mbanner_play > img {position: static;}
.main_cont a.ic_mbanner_play {display: none;}


/*
.rbanner_event {position: relative; margin-top: 10px;}
#rbanner-event, .rbanner_event {height: 205px !important;}
.rbanner_event .lSAction > .lSPrev, .rbanner_event .lSAction > .lSNext {top: 205px; text-align: center; background: none; opacity: 1;}
.rbanner_event .lSAction > .lSPrev {left: calc(50% - 50px);}
.rbanner_event .lSAction > .lSNext {right: calc(50% - 55px);}
.rbanner_event .lSSlideOuter .lSPager.lSpg {bottom: 0; right: 16px; margin-left: 23px;}
.rbanner_event .lSSlideOuter .lSPager.lSpg li a {background: transparent; text-decoration: none; transition: none;}
.rbanner_event .lSSlideOuter .lSPager.lSpg li.active a, .content-slider-event .pager_num {display: inline-block; width: 50px; height: 25px; padding-right: 5px; font-weight: 100; text-align: right; font-size: 14px; color: #333;}
.rbanner_event .lSSlideOuter .lSPager.lSpg li.active a {position: absolute; bottom: -10px; right: 27px; text-indent: 0; background: transparent;}
.rbanner_event .lSSlideOuter .lSPager.lSpg li.active a:after {content: ' / 3'}
*/
.rbanner_event {position: relative; margin-top: 15px;}
.rbanner_event, .rbanner_event .lSSlideOuter, .rbanner_event .lSSlideOuter .lSSlideWrapper {height: 200px;}
.rbanner_event .lSAction > .lSPrev, .rbanner_event .lSAction > .lSNext {top: 183px; width: 18px; height: 18px; margin: 0; text-align: center; background: none; opacity: 1; color: #606060;}
.rbanner_event .lSAction > .lSPrev {left: calc(50% - 50px);}
.rbanner_event .lSAction > .lSNext {right: calc(50% - 55px);}
.rbanner_event .lightSlider:before, .rbanner_event .lightSlider:after {display: none;}
.rbanner_event .lSSlideOuter .lSPager.lSpg > li > a {display: none;}

.rbanner_event .lSSlideOuter .lSPager.lSpg > li a, .rbanner_event .lSSlideOuter .lSPager.lSpg > li.active a, .rbanner_event .lSSlideOuter .lSPager.lSpg > li:hover a {width: 0; height: 0; background: none;}
.rbanner-event-index {position: absolute; bottom: 0; left: 50px; display: inline-block; width: 14px; text-align: center; color: #606060;}
.rbanner-event-length {position: absolute; bottom: 0; left: 62px; display: inline-block; width: 14px; text-align: center; color: #606060;}
.rbanner-event-length:before {content: '/'; padding: 0 2px;}

.banner_event_btn {position: absolute; top: 138px; left: 10px;}

.rbanner_event02 {position: relative; width: 130px; height: 181px; overflow: hidden;}
.rbanner_event02 .lightSlider:before, .lightSlider:after {display: none;}
.rbanner_event02 .lSSlideOuter .lSPager.lSpg {right: 5px; bottom: 5px;}
.rbanner_event02 .lSSlideOuter .lSPager.lSpg > li a {width: 10px; height: 10px;}
.rbanner_event02 .lSSlideOuter .lSPager.lSpg > li.active a {width: 10px; background: #222;}

#rbanner-event a, #rbanner-event02 a {display: inline-block; width: 130px; height: 181px; font-size: 0; line-height: 0; vertical-align: top;}
#rbanner-event > li.active > a:focus, #rbanner-event02 > li.active > a:focus {outline: none; border: 2px solid #000; border-radius: 12px;}
#rbanner-event02 > li.active > a:focus {border-color: #ff0000; border-radius: 10px;}


.section02 {position: relative;}
.section02 .cont_left {position: relative; float: left; width: 410px; margin-right: 80px;}
.section02 .cont_right {float: left; width: 610px;}
.section02_container {position: absolute; top: 0; left: 0; width: 400px;}
.section02_cont {padding-top: 100px;}
.section02_cont .lSSlideOuter .lSPager.lSpg {bottom: 0; top: 0; right: 18px;}
.section02_cont .lSSlideOuter .lSPager.lSpg > li a {width: 10px; height: 10px;}
.section02_cont .lSSlideOuter .lSPager.lSpg > li.active a {width: 25px; background: #114de3;}
.section02_cont .lSSlideOuter .lSPager.lSpg > li:hover a {width: 10px; background: #114de3;}

.section02_banner_event {position: absolute; top: 20px; left: calc(50% - 800px); display: inline-block; width: 180px; z-index: 9;}
.section02_banner_event02 {position: absolute; top: -575px; left: calc(50% - 810px); display: inline-block; width: 200px; z-index: 9;}
.section02_event_wrap {position: relative; display: block; margin-bottom: 10px;}
.section02_event_wrap a {display: inline-block;}
.section02_event_wrap a.event_close {position: absolute; top: 7px; right: 7px;}
.ic_section02_pause, .ic_section02_play {position: absolute; right: 0; top: 8px; display: inline-block;}

#section03-event {width: 100%; height: 160px; z-index: 1;}
#section03-event > li.active > a:focus {border: 2px solid #000;}
.section03_cont .lSSlideWrapper {height: 160px;}
.section03_cont .lSSlideOuter .lSPager.lSpg {bottom: 130px; right: calc(50% - 532px);}
.section03_cont .lSSlideOuter .lSPager.lSpg > li a {width: 10px; height: 10px;}
.section03_cont .lSSlideOuter .lSPager.lSpg > li.active a {width: 10px; background: #222;}
.section03_cont .lSSlideOuter .lSPager.lSpg > li:hover a {width: 10px; background: #222;}
.section03 a.ic_section03_pause, .section03 a.ic_section03_play {position: absolute; right: calc(50% - 550px); top: 11px; display: inline-block; width: 14px; height: 14px; z-index: 9;}

.section05_cont {width: 350px; height: 465px;}
.section05_cont .lSSlideWrapper {height: 465px;}
.section05_cont .lSSlideOuter .lSPager.lSpg {right: 38px;}
.section05_cont .lSSlideOuter .lSPager.lSpg > li a {width: 10px; height: 10px; background: #fff; opacity: 0.4;}
.section05_cont .lSSlideOuter .lSPager.lSpg > li.active a {width: 10px; background: #fff; opacity: 1;}
.section05_cont .lSSlideOuter .lSPager.lSpg > li:hover a {width: 10px; background: #fff; opacity: 1;}
.ic_section05_pause, .ic_section05_play {position: absolute; right: 20px; bottom: 8px; display: inline-block;}

.section06_cont {padding-top: 15px;}
#section06-review > li {margin-top: -4px;}
#section06-review > li > a {display: inline-block; height: 204px; border: 2px solid #ececec;}
#section06-review > li > a:focus {border-color: #ff0000; outline: none;}
#section06-review > li > a > img {vertical-align: top;}
.section06_cont .lSSlideOuter .lSPager.lSpg {bottom: 205px; right: calc(50% - 550px);}
.section06_cont .lSSlideOuter .lSPager.lSpg > li a {width: 10px; height: 10px; background: #ccc;}
.section06_cont .lSSlideOuter .lSPager.lSpg > li.active a {width: 10px; background: #222;}
.section06_cont .lSSlideOuter .lSPager.lSpg > li:hover a {width: 10px; background: #222;}

.section01, .section03, .section04, .section05, .section06, .section07, .section08, .section09 {min-width: 1280px;}
.section01, .section04, .section06, .section09 {background: #fff;}
.section05 {background: #f8f8f8;}
.section06 {background: #ececec;}
.section07 {background: #fff;}
.section08 {background: #0c213b;}

.section01 {border-bottom: 1px solid #ccc; background: #fff;}

.ul_menu_section01 {display: inline-block; width: 100%; margin: 0 1% -3px 1%;}
.ul_menu_section01 > li {float: left; width: 14%; margin: 15px 0 0 0; text-align: center;}
.ul_menu_section01 > li > a {display: inline-block; width: 100%; padding: 10px 0 20px 0; font-weight: 500; vertical-align: middle; border-bottom: 3px solid #fff; color: #666;}
.ul_menu_section01 > li > a:hover {color: #114de3; border-bottom: 3px solid #114de3;}
.ic_menu {display: inline-block; width: 28px; height: 28px; margin-right: 8px; vertical-align: middle;}
.ic_menu01 {background: url('/img/new_page/main/ic_section01_m01.png');}
.ic_menu02 {background: url('/img/new_page/main/ic_section01_m02.png');}
.ic_menu03 {background: url('/img/new_page/main/ic_section01_m03.png');}
.ic_menu04 {background: url('/img/new_page/main/ic_section01_m04.png');}
.ic_menu05 {background: url('/img/new_page/main/ic_section01_m05.png');}
.ic_menu06 {background: url('/img/new_page/main/ic_section01_m06.png');}
.ic_menu07 {background: url('/img/new_page/main/ic_section01_m07.png');}
.ul_menu_section01 > li > a:hover .ic_menu01 {background: url('/img/new_page/main/ic_section01_m01_on.png');}
.ul_menu_section01 > li > a:hover .ic_menu02 {background: url('/img/new_page/main/ic_section01_m02_on.png');}
.ul_menu_section01 > li > a:hover .ic_menu03 {background: url('/img/new_page/main/ic_section01_m03_on.png');}
.ul_menu_section01 > li > a:hover .ic_menu04 {background: url('/img/new_page/main/ic_section01_m04_on.png');}
.ul_menu_section01 > li > a:hover .ic_menu05 {background: url('/img/new_page/main/ic_section01_m05_on.png');}
.ul_menu_section01 > li > a:hover .ic_menu06 {background: url('/img/new_page/main/ic_section01_m06_on.png');}
.ul_menu_section01 > li > a:hover .ic_menu07 {background: url('/img/new_page/main/ic_section01_m07_on.png');}

.section02 {padding-top: 75px;}
.section02 .cont_left h3 {margin-bottom: 45px; padding-bottom: 25px; border-bottom: 1px solid #e5e5e5;}
.section02 .cont_right > div {display: inline-block; width: 100%; margin-bottom: 45px; padding-bottom: 25px; border-bottom: 1px solid #e5e5e5;}
.section02 .cont_right h3 {float: left; margin-right: 7px;}
.section02 .cont_right h3 img {vertical-align: middle;}
.section02 .ic_section02_m02, .section02 .ic_section02_m03 {display: inline-block; width: 31px; height: 31px; margin-right: 10px; vertical-align: middle;}
.section02 .ic_section02_m02 {background: url('/img/new_page/main/ic_section02_m02.png')}
.section02 .ic_section02_m03 {background: url('/img/new_page/main/ic_section02_m03.png')}
.section02 .cont_right span { font-size: 1.1em; line-height: 1.9;}
.section02 .cont_right p.text_num {float: right;}
.section02 .cont_right p.text_sm {display: inline-block; width: 100%; margin-top: 10px; padding-left: 42px; font-size: 0.9em;}
.section02 .cont_right div:nth-child(3) {border-bottom: none;}
.section02 .ic_call {display: inline-block; float: left; width: 35px; height: 35px; margin-top: -7px; background: #f0f0f0;}
.section02 .btn_form {display: inline-block; width: 160px; height: 50px; line-height: 48px; font-weight: bold; text-align: center; vertical-align: top; background: #114de3; color: #fff; border-radius: 8px; box-shadow: 0px 4px #e1e1e1;}
.section02 form select {padding-left: 12px;}
.section02 form select, .section02 form input {width: 130px; height: 50px; margin-right: 15px; font-weight: bold; border: 1px solid #ddd; text-align: center; text-align-last: center;}
.section02 form select, .section02 form input, .section02 form .div_select {width: 130px; height: 50px; margin-right: 15px; font-weight: bold; border: 1px solid #ddd; text-align: center; text-align-last: center;}
.section02 form .div_select {float: left; padding-right: 5px; background: #fff;}
.section02 form .div_select select {border: none; width: 100%; height: 100%; margin-right: 0; background: #fff;}

.ul_scholarship > li > p {float: left; font-size: 1.1em; line-height: 1.5;}
.ul_scholarship > li > p > strong {font-size: 1em; line-height: 1.5; font-weight: 600;}
.ul_scholarship > li > p:nth-child(1) {width: 140px; margin-right: 30px;}
.ul_scholarship > li > p:nth-child(2) {width: 220px;}

.section03 {position: relative; z-index: 1;}
.section03 a {display: inline-block; width: 100%; height: 160px; font-size: 0; line-height: 0; background-position: center; vertical-align: top;}

.section04 {padding: 75px 0 80px 0;}
.ul_top4 {display: inline-block; width: 100%; margin: 35px 0 10px 0;}
.ul_top4 > li {float: left; width: 269px; height: 200px; margin-left: 8px;}
.ul_top4 > li:first-child {margin-left: 0;}
.ul_top4_img { margin-bottom:50px;}

.basis_btn { display: inline-block; margin: 0 0 50px 925px;}
.basisbox { display: none; position:absolute; top:20%; left:35%;}
.basisbox a { position:absolute; right:0;}

.ul_package {display: inline-block; margin-left: -9px;}
.ul_package > li {position: relative;}
.ul_package > li > a > p {position: absolute; top: 30px; left: 45px; width: 120px; height: 120px; padding-top: 24px;  text-align: center; border: 1px solid #54392d; border-radius: 120px;}
.ul_package > li > a > p > span {display: block;}
.ul_package > li > a > p > span:nth-child(1) {font-size: 22px; font-weight: 900;}
.ul_package > li > a > p > span:nth-child(2) {font-size: 18px; font-weight: 500;}


.ul_package > li:nth-child(1) > a > p > span:nth-child(1), .ul_package > li:nth-child(4) > a > p > span:nth-child(1) { color: #54392d;}
.ul_package > li:nth-child(1) > a > p > span:nth-child(2), .ul_package > li:nth-child(4) > a > p > span:nth-child(2) { color: #54392d;}
.ul_package > li:nth-child(2) > a > p > span:nth-child(1), .ul_package > li:nth-child(6) > a > p > span:nth-child(1) { color: #5959da;}
.ul_package > li:nth-child(2) > a > p > span:nth-child(2), .ul_package > li:nth-child(6) > a > p > span:nth-child(2) { color: #5959da;}
.ul_package > li:nth-child(3) > a > p > span:nth-child(1), .ul_package > li:nth-child(5) > a > p > span:nth-child(1), .ul_package > li:nth-child(7) > a > p > span:nth-child(1) { color: #197f63;}
.ul_package > li:nth-child(3) > a > p > span:nth-child(2), .ul_package > li:nth-child(5) > a > p > span:nth-child(2), .ul_package > li:nth-child(7) > a > p > span:nth-child(2) { color: #197f63;}
.ul_package > li:nth-child(1) > a > p:nth-child(1), .ul_package > li:nth-child(4) > a > p:nth-child(1) {border-color:#54392d;}
.ul_package > li:nth-child(2) > a > p:nth-child(1), .ul_package > li:nth-child(6) > a > p:nth-child(1) {border-color:#5959da;}
.ul_package > li:nth-child(3) > a > p:nth-child(1), .ul_package > li:nth-child(5) > a > p:nth-child(1), .ul_package > li:nth-child(7) > a > p:nth-child(1) {border-color:#218b6e;}

.ul_package > li > a {display: inline-block; width: 1118px; height: 180px; font-size: 0; vertical-align: top;}
/*사회복지*/
.ul_package > li:nth-child(1) > a {background: url('/img/new_page/main/section04_package01_02.png');}
.ul_package > li:nth-child(1) > a:hover {background: url('/img/new_page/main/section04_package01_02_on.png');}
/*보육교사*/
.ul_package > li:nth-child(2) > a {background: url('/img/new_page/main/section04_package02_03.png');}
.ul_package > li:nth-child(2) > a:hover {background: url('/img/new_page/main/section04_package02_03_on.png');}
/*장애영유아*/
.ul_package > li:nth-child(3) > a {background: url('/img/new_page/main/section04_package08.png');}
.ul_package > li:nth-child(3) > a:hover {background: url('/img/new_page/main/section04_package08_on.png');}
/*한국어*/
.ul_package > li:nth-child(4) > a {background: url('/img/new_page/main/section04_package03_04.png');}
.ul_package > li:nth-child(4) > a:hover {background: url('/img/new_page/main/section04_package03_04_on.png');}
/*소방학*/
.ul_package > li:nth-child(5) > a {background: url('/img/new_page/main/section04_package04_02.png');}
.ul_package > li:nth-child(5) > a:hover {background: url('/img/new_page/main/section04_package04_02_on.png');}
/*전기공학*/
.ul_package > li:nth-child(6) > a {background: url('/img/new_page/main/section04_package05.png');}
.ul_package > li:nth-child(6) > a:hover {background: url('/img/new_page/main/section04_package05_on.png');}
/*경찰행정*/
.ul_package > li:nth-child(7) > a {background: url('/img/new_page/main/section04_package06_04.png');}
.ul_package > li:nth-child(7) > a:hover {background: url('/img/new_page/main/section04_package06_04_on.png');}
/*장학완성*/
/* .ul_package > li:nth-child(7) > a {background: url('/img/new_page/main/section04_package07.png');}
.ul_package > li:nth-child(7) > a:hover {background: url('/img/new_page/main/section04_package07_on.png');} */


.section05 {padding: 75px 0;}
.section05 * {font-family:'Noto Sans KR', 'sans-serif', 'NanumGothic';}
.section05 .cont_w100 {margin-top: 35px;}
.section05 .cont_w100 > .cont_w30 {width: 352px; height: 465px;}
.section05 .cont_w100 > .cont_w30:nth-child(1), #section05-event > li {padding: 40px 20px 15px 35px;}
.section05 .cont_w100 > .cont_w30:nth-child(1) {background: url('/img/new_page/main/section05_bg01.jpg') no-repeat;}
.section05 .cont_w100 > .cont_w30:nth-child(2) {background: url('/img/new_page/main/section05_bg02.jpg') no-repeat;}
.section05 .cont_w100 > .cont_w30:nth-child(3) {padding: 25px 30px; background: #1a95f3; background-image: linear-gradient(-180deg, #0c75df, #1a95f3);}
.event_closing {display: inline-block; height: 27px; padding: 0 10px; line-height: 26px; font-weight: 700; background: #ffeb61; color: #151515;}
.event_date {margin: 20px 0; font-size: 20px; font-weight: 500; color: #fff;}
.event_title {  font-size: 34px; color: #fff; font-weight: bold; line-height: 40px;}
.event_title > span {font-size: 36px; font-weight: bold; color: #ffeb61;}
.event_detail {margin: 25px 0 30px 0;}
.event_detail li {margin-bottom: 10px; font-size: 16px; font-weight: 500; color: #fff; line-height: 20px;}
.event_detail li > span {margin-right: 7px; color: #ffeb61;}
.event02 .event_detail li > span {color: #ffeb61;}
.section05 .btn_form02 {display: inline-block; width: 100%; height: 58px; margin-bottom: 5px; font-size: 20px; line-height: 58px; text-align: center; font-weight: bold; border-top: 1px solid #506ba1; border-right: 1px solid #8194bb; background: #032a78; box-shadow: inset -1px 1px #365594; color: #fff;}
.section05 .btn_form02 > span { font-size: 20px; color: #ffeb61;}
.section05 .event02 .btn_form02 { border-top: 1px solid #5d80e0; border-right: 1px solid #7f9be6; background: #1548d2; box-shadow: inset -1px 1px #456ddb;}
.section05 .btn_detail {float: right; display: inline-block; font-weight: 500; color: #fff; }
.event03 .event_closing {background: #fff;}
.event03 .event_title {margin: 13px 0 25px 0; font-size: 34px; font-weight: bold; text-align: center; color: #fff;}
/*.event03 .event_title > span { font-size: 20px; color: #ffeb61;}*/
.event03 .event_title > span { font-size: 20px; color: #fff;}
.event_package {display: inline-block; width: calc(100% - 20px); margin: 0 10px;}
.event_package li > a {display: inline-block; width: 100%; height: 38px; margin-bottom: 12px; padding: 0 15px; font-size: 16px; line-height: 36px; font-weight: bold; border-bottom: 2px solid #d1d1d1; background: #fff; color: #151515; letter-spacing: -0.5px;}
.event_package li > a > span {font-size: 16px;}
.event_package li > a > span.ic_arrow {float: right; display: inline-block; font-size: 14px; color: #151515;}

.section06 {padding: 80px 0 75px 0; text-align: center;}
.section06 h3 {text-align: center;}
.section06 > .cont_container {text-align: center;}
.section06 h3 {margin-bottom: 32px;}
.section06 .cont_w30 {width: 356px; margin-left: 16px;}
.section06 .review_text {display: inline-block; width: 100%; height: 335px; margin: 15px 0 45px 0; padding: 28px 30px; line-height: 26px; text-align: left; border: 1px solid #ccc; background: #fff; color: #444;}
.section06 .review_text p {font-size: 17px;}
.section06 .review_title {margin-bottom: 20px; font-weight: 600; color: #114de3;}
.section06 .review_text span {font-size: 17px; font-weight: 600;}
.section06 p.review_name {font-size: 14px; margin-top: 25px; color: #757575;}
.section06 .btn_review {display: inline-block; font-size: 24px; text-align: center; font-weight: bold; color: #333; vertical-align: top;}
.ic_section06_arrow {display: inline-block; width: 28px; height: 28px; background: url('/img/new_page/main/ic_section06_arrow.png'); vertical-align: top;}
.ic_section06_arrow:hover {display: inline-block; width: 28px; height: 28px; background: url('/img/new_page/main/ic_section06_arrow_hover.png'); vertical-align: top;}


.section07 {padding: 80px 0;}
.section07 h3 {text-align: center;}
.section07 .contents {height: 528px;}

.div_class_container {position: relative; display: inline-block; width: 1100px; height: 430px;}
#section07_class02, #section07_class03, #section07_class04, #section07_class05,#section07_class06, #section07_class07, #section07_class08 {display: none;}
.div_class_container > p {float: left; position: absolute; bottom: 0; left: -180px;}

.box_class_btn a {display: inline-block; width: 42px; height: 54px; font-size: 0; z-index: 9;}
.section07_ic_prev {position: absolute; top: 225px; left: calc(50% - 220px);  background: url('/img/new_page/main/section07_ic_prev.png');}
.section07_ic_next {position: absolute; top: 225px; right: -57px; background: url('/img/new_page/main/section07_ic_next.png');}

.box_class {position: absolute; bottom: 0; right: 0; display: inline-block; width: 720px; background: #f2f2f2; border-radius: 10px;}
.box_header {display: inline-block; width: 100%; padding: 40px 50px 0 60px; }
.box_header > .header_title {float: left; width: calc(100% - 180px); font-size: 20px; font-weight: 500;}
.box_header > .header_title span {display: inline-block; width: 100%; margin-top: 5px; font-size: 26px; font-weight: bold; color: #114de3;}
.box_header > .header_btn {float: right;}
.box_header > .header_btn > a {display: inline-block; margin-top: 5px; padding: 10px 20px; font-size: 17px; font-weight: 500; background: #114de3; color: #fff; border-radius: 20px; box-shadow: 0 2px #0d39a8;}
.box_contents {display: block; height: 195px; margin: 35px 50px 35px 60px; overflow-y: auto;}
.box_contents > ul {display: inline-block; width: 100%;}
.box_contents > ul > li {float: left; width: 28%; height: 40px; margin-right: 5%; margin-top: 10px; font-weight: 500; line-height: 40px; text-align: center; background: #fff; color: #222; border-radius: 10px; box-shadow: 0 2px #dadada;}
.box_contents > ul > li:nth-child(1), .box_contents > ul > li:nth-child(2), .box_contents > ul > li:nth-child(3) {margin-top: 0;}
.box_contents::-webkit-scrollbar {width: 10px;}
.box_contents::-webkit-scrollbar-thumb {background: #114de3; border-radius: 10px;}
.box_contents::-webkit-scrollbar-track {background: #fff; border-radius: 10px; box-shadow: inset 0px 0px 5px white;}
.section07_box_class01_bg, .section07_box_class02_bg, .section07_box_class04_bg, .section07_box_class05_bg, .section07_box_class06_bg, .section07_box_class07_bg {position: absolute; bottom: 0; right: 62px; width: 266px; height: 180px;}
.section07_box_class01_bg {background: url('/img/new_page/main/section07_box_class01_bg.png');}
.section07_box_class02_bg {background: url('/img/new_page/main/section07_box_class02_bg.png');}
.section07_box_class04_bg {background: url('/img/new_page/main/section07_box_class04_bg.png');}
.section07_box_class05_bg {background: url('/img/new_page/main/section07_box_class05_bg.png');}
.section07_box_class07_bg {background: url('/img/new_page/main/section07_box_class07_bg.png');}
.section07_box_bg_num13, .section07_box_bg_num14, .section07_box_bg_num16, .section07_box_bg_num23, .section07_box_bg_num25 {position: absolute; bottom: 0; right: 62px; width: 266px; height: 180px;}
.section07_box_bg_num13 {background: url('/img/new_page/main/section07_box_bg_num13.png');}
.section07_box_bg_num14 {background: url('/img/new_page/main/section07_box_bg_num14.png');}
.section07_box_bg_num16 {background: url('/img/new_page/main/section07_box_bg_num16.png');}
.section07_box_bg_num23 {background: url('/img/new_page/main/section07_box_bg_num23.png');}
.section07_box_bg_num25 {background: url('/img/new_page/main/section07_box_bg_num25.png');}

.section08 {height: 935px; padding: 65px 0 0 0;}
.section08 h3 {text-align: center;}
.section08 .tab_container .tab_content {width:100%; padding-top: 40px; text-align: center;}
.section08 .tab_content {position: relative; display: none;}
.section08 .tab_content img {margin-top: 25px;}
.section08 .tab_content .p_mt10 > img {margin-top: 10px;}
.section08 .tabs ul {display: inline-block; width: 100%; margin-top: 50px; padding: 0 40px; border-bottom: 1px solid #888;}
.section08 .tabs li {float: left; width: 20%; margin-bottom: -1px; text-align: center;}
.section08 .tabs li a {display: block; width: 100%; padding-bottom: 12px; line-height: 1.3; font-weight: 500; color: #888;}
.section08 .tabs li.active {border-bottom: 2px solid #ffe785;}
.section08 .tabs li.active a {color: #ffe785;}
.section08 .p_title, .section08 .p_title span {font-size: 30px; font-weight: bold; color: #fff;}
.section08 .p_title span {color: #ffe785;}
.section08 .p_subtitle {margin-bottom: 10px; font-size: 26px; font-weight: 400; color: #fff;}
#section08_tab2 .p_title span {color: #85ffe7;}
#section08_tab2 .p_subtitle {margin-top: 10px; font-size: 15px;}
.section08_tab_btn a {display: inline-block; width: 41px; height: 55px; font-size: 0; z-index: 9;}
/*
.section08_ic_prev {position: absolute; top: 255px; left: 0;  background: url('/img/new_page/main/section08_ic_prev.png');}
.section08_ic_next {position: absolute; top: 255px; right: 0; background: url('/img/new_page/main/section08_ic_next.png');}
*/

.section08 .tabs li .section08_tab_btn a {display: inline-block; width: 41px; height: 55px; font-size: 0; z-index: 9;}
.section08_ic_prev {position: absolute; top: 310px; left: -41px;  background: url('/img/new_page/main/section08_ic_prev.png') no-repeat;}
.section08_ic_next {position: absolute; top: 310px; right: -41px; background: url('/img/new_page/main/section08_ic_next.png') no-repeat;}
    
.section08 a {display: inline-block;}
.section08 {height: 930px; padding: 65px 0 70px 0; background: #0c213b;}
.section08 h3 {text-align: center;}
.section08 .tab_container .tab_content {width:100%; padding-top: 80px; text-align: center;}
.section08 .tab_content {display: none;}
.section08 .tab_content img {margin-top: 25px;}
.section08 .tabs ul {position: relative; display: inline-block; width: 100%; margin-top: 50px; padding: 0 40px; border-bottom: none;}
.section08 .tabs li {width: auto; text-align: center;}
.section08 .tabs li > a {position: absolute; top: 0; left: 0; display: inline-block; width: 20%; height: 54px; line-height: 1.3; font-weight: 500; color: #888; z-index: 1;}
.section08 .tabs li > a:after {content: ''; display: inline-block; width: 100%; height: 1px; background: #7e7e7e;}
.section08 .tabs li:nth-child(2) > a {left: 20%;}
.section08 .tabs li:nth-child(3) > a {left: 40%;}
.section08 .tabs li:nth-child(4) > a {left: 60%;}
.section08 .tabs li:nth-child(5) > a {left: 80%;}
.section08 .tabs li.active {border-bottom: none;}
.section08 .tabs li.active > a {border-bottom: 2px solid #ffe785;}
.section08 .tabs li.active > a {color: #ffe785;}
.section08 .p_title, .section08 .p_title span {font-size: 30px; font-weight: bold; color: #fff;}
.section08 .p_title span {color: #ffe785;}
.section08 .p_subtitle {margin-bottom: 10px; font-size: 26px; font-weight: 400; color: #fff;}
#section08_tab2 .p_title span {color: #85ffe7;}
#section08_tab2 .p_subtitle {margin-top: 10px; font-size: 15px;}

/*
.section09 {padding: 90px 0 95px 0;}
.section09_header {display: inline-block; width: 100%; margin-bottom: 18px; padding-bottom: 18px; border-bottom: 1px solid #888;}
.section09_header h3 {float: left; font-size: 22px; font-weight: bold;}
.section09_header a {float: right; margin-top: 4px;}
.section09_header img {vertical-align: middle;}
.section09 .tab_container .tab_content {width:100%;}
.section09 .tab_content {display: none;}
.section09 .tab_container {position: relative;}
.section09 .tab_container .tabs {padding-top: 72px;}
.section09_header_tab {position: absolute; top: -65px; left: 0; display: inline-block; width: 100%; margin-top: 70px; padding-bottom: 12px; border-bottom: 1px solid #888;}
.section09_header_tab > p {float: left; }
.section09_header_tab > a {float: right;}
.section09 .tabs ul {display: inline-block; width: 100%;}
.section09 .tabs li {float: left; width: 129px; margin-left: 7px; text-align: center;}
.section09 .tabs li:first-child {margin-left: 0;}
.section09 .tabs li a {display: block; width: 100%; height: 40px; line-height: 38px; font-weight: 500; border: 1px solid #ddd; color: #555;}
.section09 .tabs li.active {border-color: #555; background: #555;}
.section09 .tabs li.active a {color: #fff;}
.section09 .tab_content ul > li {margin-top: 20px;}
.section09 .tab_content ul > li > span:nth-child(2) {margin-right: 10px; margin-left: 5px}
.section09 .tab_content ul a {color: #555;}
*/


.section09_menu {display: inline-block; padding: 20px 0 20px 0; background: #f8f8f8;}
.section09_menu li {float: left; width: 25%; text-align: center;}
.section09_menu li > a {display: inline-block; margin-bottom: 10px; font-weight: 500; color: #555;}
.section09_menu li > a > span {display: inline-block; width: 100%;}
.section09_menu li > a > span > img {margin-top: 15px;}
.section09_menu li > a > span:first-child {width: 85px; height: 85px; margin: 0 auto 5px auto; background: #fff; border-radius: 40px;}
.section09_btn {display: inline-block; width: 100%; margin-top: 60px;}
.section09_btn > a {display: inline-block; width: 31%; height: 80px; margin-left: 3%; padding: 0 28px; font-size: 24px; font-weight: 500; line-height: 80px; text-align: center; background: #3a3a3a; color: #fff; border-radius: 40px; box-shadow: inset 0px 4px 4px #232323;}
.section09_btn > a:first-child {margin-left: 0;}
.section09_btn > a:nth-child(2) {background: #114de3; box-shadow: inset 0px 4px 4px #0f43c5;}
.section09_btn > a > span {float: right;}
.section09_btn > a:focus {outline: 2px solid #ff0000;}

.basis_box_cont {position: fixed; top: 150px; left: calc(50% - 267px); z-index: 999;}
  
.section09 {padding: 90px 0 95px 0;}
    
.section09_header {display: inline-block; width: 100%; height: 50px; margin-bottom: 18px; padding-bottom: 18px; border-bottom: 1px solid #888;}
.section09_header h3 {float: left; font-size: 22px; font-weight: bold;}
.section09_header a {float: right; margin-top: 4px;}

.section09 .tab_content .section09_header_tab {position: absolute; top: 0; left: 0; display: inline-block; width: 100%; height: 50px; margin-bottom: 18px; padding-bottom: 18px; border-bottom: 1px solid #888;}
.section09 .tab_content .section09_header_tab > p {float: left;}
.section09 .tab_content .section09_header_tab > a {float: right; font-size: 0; line-height: 0;}
.section09 .tab_content .section09_header_tab img {vertical-align: middle;}

.section09 .tab_container {height: 274px;}
.section09 .tab_container .tab_content {width:100%;}
.section09 .tab_content {display: none;}
.section09 .tabs > ul {position: relative; display: inline-block; width: 100%; vertical-align: top;}
.section09 .tabs > ul > li > a {position: absolute; top: 70px; left: 0; display: inline-block; width: 24%; height: 40px; margin-right: 1%; line-height: 38px; font-weight: 500; text-align: center; border: 1px solid #ddd; color: #555;}

.section09 .tabs > ul > li:nth-child(2) > a {left: 25%;}
.section09 .tabs > ul > li:nth-child(3) > a {left: 50%;}
.section09 .tabs > ul > li:nth-child(4) > a {left: 75%;}
.section09 .tabs > ul > li.active > a {border-color: #555; background: #555; color: #fff;}
.section09 .tab_content {margin-top: 130px;}
.section09 .tab_content a {color: #555;}
.section09 .tab_content > ul > li {margin-top: 20px;}
.section09 .tab_content > ul > li > span:nth-child(2) {margin-right: 10px; margin-left: 5px; }

.section09_menu {display: inline-block; padding: 20px 0 20px 0; background: #f8f8f8;}
.section09_menu li {float: left; width: 25%; text-align: center;}
.section09_menu li > a {display: inline-block; margin-bottom: 10px; font-weight: 500; color: #555;}
.section09_menu li > a > span {display: inline-block; width: 100%;}
.section09_menu li > a > span > img {margin-top: 15px;}
.section09_menu li > a > span:first-child {width: 85px; height: 85px; margin: 0 auto 5px auto; background: #fff; border-radius: 40px;}
.section09_btn {display: inline-block; width: 100%; margin-top: 60px;}
.section09_btn > a {display: inline-block; width: 31%; height: 80px; margin-left: 3%; padding: 0 28px; font-size: 24px; font-weight: 500; line-height: 80px; text-align: center; background: #3a3a3a; color: #fff; border-radius: 40px; box-shadow: inset 0px 4px 4px #232323;}
.section09_btn > a:first-child {margin-left: 0;}
.section09_btn > a:nth-child(2) {background: #114de3; box-shadow: inset 0px 4px 4px #0f43c5;}
.section09_btn > a > span {float: right;}




/* 입력 레이어팝업 UI Object */
#mw_tempform{display: none;}
.mw_qu_form{position:fixed;;top:0;left:0;width:100%;height:100%; z-index:100000 }
 .bg_form{position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.6;filter:alpha(opacity=90); z-index:100}
 .fg_form{display:block; box-sizing:border-box; -moz-box-sizing:border-box; background:#fff;  float:right; overflow:hidden;border:1px solid #222; text-align:left; position:fixed; top:130px; left:50%; z-index:1100000; padding: 0; height:540px;width:460px; margin-left:-230PX; }
.fg_form h3{font-size:23px; font-weight:bold; padding-left: 22px; position:relative; margin:0; text-align: left; line-height:60px; border-bottom:1px solid #bcbcbc; background:#eee; color:#222;}
.fg_form h3 span{ font-size:17px; font-weight:400; color:#888; display:block}
.fg_form h3>a{position:absolute; top:3px; right:5px; line-height: 1;}

.fg_form h4{ padding:0; margin:0; text-align:center; font-size:16px; line-height:26px; color:#787878}
.fg_form h4 strong{color:#155ede}

.fg_form>li{list-style:none; padding:0; margin:0; text-align:left}
.fg_form li{line-height:52px; font-weight:400}
.fg_form ul{margin-top:4px; width:90%; margin:10px auto;}
.fg_form li strong{display:inline-block; width: 85px; font-weight:700; font-size:15px; letter-spacing:-1px; text-align:left; }
.fg_form li input{ margin:-3px; font-size:15px; padding:0 4px; line-height:38px; height:36px; font-weight:400; border:1px solid #ccc; letter-spacing:-1px; box-sizing:border-box; border-radius:4px; vertical-align: middle;}
.fg_form li  select {margin:-3px;font-size:15px; padding:3px; line-height:20px; font-weight:400; border:1px solid #ccc; letter-spacing:-1px; vertical-align: middle;}
.fg_form li a.btn_okform{ display:inline-block; margin:10px 5px; padding:0 10px; width:94%; text-align:center; font-weight:800; color:#fff; background:#122448; letter-spacing:0; font-size:22px; border-radius:2px;}
.fg_form li a.btn_noform{ display:inline-block; margin:10px 0px; padding:0 10px; width:60px; text-align:center; font-weight:700; color:#000; background:#dedede; border:1px solid #ccc}

.fg_form li select {line-height:36px; height:36px}
/* //입력 레이어팝업  UI Object */
.fg_form li .nwi_check{width:18px; height:18px;}
.fg_form li.li_text {margin-top: 10px; line-height: 32px;}
.fg_form li.li_text > p {font-weight: bold;}
.fg_form li.li_text table {border-collapse: collapse; width: 100%; margin-top: 7px;}
.fg_form li.li_text table th, .fg_form li.li_text table td {font-size: 13px; text-align: center; border: 1px solid #dcdcdc; background: #fafafa;}
.fg_form li.li_text table th {font-weight: 500;}
.fg_form li.li_text table td {height: 34px; padding: 5px 0; line-height: 1.5;}
.fg_form li.li_text table td:nth-child(1), .fg_form li.li_text table td:nth-child(2), .fg_form li.li_text table th:nth-child(1), .fg_form li.li_text table th:nth-child(2) {float: left; margin-right: -1px}
.fg_form li.li_text table th:nth-child(1), .fg_form li.li_text table td:nth-child(1) {width: 36%;}
.fg_form li.li_text table th:nth-child(2), .fg_form li.li_text table td:nth-child(2) {width: 28%;}
.fg_form li.li_text table th:nth-child(3), .fg_form li.li_text table td:nth-child(3) {float: left; width: 36%;}
.fg_form li.li_text > a {font-size: 13px; color: #222;}
.fg_form li.li_text > a:hover {text-decoration: underline;}
.fg_form li.li_right {margin-top: 0; text-align: right; }
.fg_form li.li_radio {margin-top: 10px; padding-top: 10px; line-height:28px; text-align: center; border-top: 1px solid #eee;}
.fg_form li.li_chk {line-height: 28px; }
.fg_form li.li_chk input[type="checkbox"] {margin-right: 5px; vertical-align: middle; cursor: pointer;}
.li_radio input[type="radio"] {height: auto; margin-right: 5px; vertical-align: middle; cursor: pointer;}
.li_radio input[type="radio"]#banner_agree2 {margin-left: 15px;}
.li_radio label, .li_chk label {cursor: pointer;}
.main_form_reg label {width: 0; height: 0; font-size: 0;}


.alt_pop{position:absolute; z-index:10000; width:400px; border:1px solid #555; height:350px; border-radius:4px; -moz-border-radius:20px; left:10px; top:-230px; background:#fff; box-shadow:0 0 10px #888; -moz-box-shadow:0 0 10px #888; padding:10px 20px; box-sizing:border-box; -moz-box-sizing:border-box; text-align: left;}
.alt_pop > h5 {margin-bottom: 15px; font-size: 24px; height: 28px; text-align: center;}
.alt_pop_text {display: inline-block; height: 220px; font-size:12px; line-height:22px; border: 1px solid #ccc; color:#777; overflow:auto;}
.alt_pop_text > p {margin: 10px 0 5px 0; padding: 5px; font-weight: 500; background: #f0f0f0;}
.alt_pop_text > p:first-child {margin-top: 0;}
.alt_pop_text > span {display: inline-block; padding-left: 18px;}
.alt_pop_text > span > strong {display: inline-block; width: auto; margin: 10px 0 5px 0; padding-left: 0; font-size:15px; font-weight: bold;}
.alt_pop > .div_btn {margin-top: 5px;}
.alt_pop > .div_btn > a {width: 80%; margin: 0 10%; background: #114de3; color: #fff;}

#mw_tempform_agree {display: none}
.mw_qu_form {position:fixed;;top:0;left:0;width:100%;height:100%; z-index:100; }
.bg_form {position:absolute;top:0;left:0;width:100%;height:100%;background:#000;opacity:.6;filter:alpha(opacity=80); z-index:100}
.fg_form_agree {position:fixed; top:150px; left:50%; display:block; float:right; border:1px solid #222; text-align:left; padding: 0; height:430px;width:460px; margin-left:-230px; background:#fff; overflow:hidden; z-index:9999;}
.fg_form_agree h3 {font-size:28px; font-weight:800; padding:0 0 0 30px; position:relative; margin:0; line-height:60px; background:#114de3; color: #fff}
.fg_form_agree a.ic_close {position: absolute; top: 5px;right: 0;}
.fg_form_agree form {padding: 20px 30px;}
.div_agree {margin-bottom: 15px; padding: 0 5px; height: 200px; border: 1px solid #ccc; overflow-y: scroll;}
.div_agree > p {margin: 10px 0 5px 0; padding: 5px; font-weight: 500; background: #f0f0f0;}
.div_agree > span {display: inline-block; padding-left: 18px;}
.div_agree > span > strong {display: inline-block; margin: 10px 0 5px 0; font-weight: 500;}
.div_agree + p {line-height: 1.3; text-align: center;}
.div_agree + p > input[type="radio"] {margin: 15px 5px 0 10px; cursor: pointer;}
.div_agree + p > label {cursor: pointer;}
.div_btn {margin-top: 15px;}
.btn_agree, .btn_agree_cancel {display: inline-block; width: 48%; height: 38px; margin-right: 4%; line-height: 38px; text-align: center; background: #114de3; color: #fff; border-radius: 2px;}
.btn_agree_cancel {margin-right: 0; background: #777;}


.banner_right {position: absolute; right: 20px; top: 80px; width: 130px; z-index: 9;}
.banner_right_fixed {position: fixed;}
.rbanner_top {margin-bottom: 15px;}
.rbanner_top_header {padding: 12px 12px 6px 12px; border-top-left-radius: 15px; border-top-right-radius: 15px; background: #114de3;}
.rbanner_top_cont {padding: 15px 7px 7px 7px; text-align: center; border: 1px solid #114de3; background: #fff; border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;}
.rbanner_top_cont > a {display: inline-block; width: 100%; height: 30px; line-height: 30px; font-weight: 500; background: #114de3; color: #fff; border-radius: 12px;}
.rbanner_top_cont > a > span {color: #fffa61;}
.rbanner_top_cont > ul {margin: 10px 0 5px 0;}
.rbanner_top_cont > ul > li, .rbanner_top_cont > ul > li > a, .rbanner_top_cont > ul > li > span {font-size: 13px; font-weight: 700; color: #333;}
.rbanner_top_cont > ul > li {text-align: left; white-space: nowrap;}
.rbanner_top_cont > ul > li > span {display: inline-block; margin-bottom: 5px; padding: 3px 2px; margin-right: 2px; background: #ececec; border-radius: 2px;}
.rbanner_top02 {border: 1px solid #f0c413; border-radius: 15px;}
.rbanner_top02 .rbanner_top_header {text-align: center; background: #ffda44;}
.rbanner_top02 .rbanner_top_cont {border: none; padding: 7px 0;}
.rbanner_top02 .rbanner_top_cont > a {background: none;color: #333;font-size: 14px;line-height: auto;line-height: 18px;}
.rbanner_menu {background: #fff; border-radius: 15px;}
.rbanner_menu_header {padding: 12px; border-radius: 15px; background: #114de3;}
.rbanner_menu_header > a {display: inline-block; width: 100%; height: 30px; margin-top: 5px; font-size: 17px; line-height: 30px; font-weight: bold; text-align: center; background: #fffb8b; color: #114de3; border-radius: 15px;}
.rbanner_menu > ul {border: 1px solid #ddd; border-radius: 15px;}
.rbanner_menu > ul > li {display: inline-block; width: calc(100% - 20px); margin: 0 10px; border-top: 1px solid #ddd;}
.rbanner_menu > ul > li:first-child {border: none;}
.rbanner_menu > ul > li > a {display: inline-block; width: 100%; padding: 15px 10px 12px 10px; font-weight: 500; color: #555;}
.rbanner_menu > ul > li:first-child > a {color: #e5175b}
.rbanner_menu > ul > li > a > span {display: inline-block; width: 100%;}

.cont_w100, .section09_btn, .section08 .tab_container, .section06_cont .lSSlideOuter {width: 1100px;}
.section06 .cont_w100 {width: 100%}

.f_left {float: left;}
.f_right {float: right;}

@media (max-width:1620px) {
    .div_class_container > p {left: -90px;}
    .div_class_container > p > img {width: calc(100% - 90px);}
}

 @media (max-width:1480px) {
    #main_wrap, #n_wrap, .top_control {min-width: 1280px;}
    .wrap_cont .contents {width: 1200px; padding-right: 50px;}
    .banner_right {right: 10px;}
    .section03 a {background-position: -300px;}
    .section03_cont .lSSlideOuter .lSPager.lSpg {right: calc(50% - 500px);}
    .div_class_container > p {left: -45px;}
    .div_class_container > p > img {width: calc(100% - 135px);}
}

@media (max-width:1370px) {
    .wrap_cont {width: 1280px; min-width: 1280px; margin: 0 auto;}
    .wrap_cont .contents {width: 1280px; padding-right: 130px;}
    .banner_right {left: calc(50% + 510px);}
    .section03 a {background-position: -370px;}
    .section03_cont .lSSlideOuter .lSPager.lSpg {right: 200px;}
}

@media (max-width:1279px) {
     .banner_right {display: none; }
     .banner_right_fixed {position: absolute; top: 370px;}
     .wrap_cont .contents {width: 1100px; margin: 0 auto; padding-right: 0;}
     .section03_cont .lSSlideOuter .lSPager.lSpg { right: calc(50% - 550px);}
     .section03 a {background-position: center;}
}

/* 추가 */
.login_boxstyle > .item > .label {position: absolute;}

/*header*/
.header_topmenu {height: 42px; background: #f4f4f4;}
.header_logo {position: relative; min-width: 1100px; height: 110px; padding-top: 40px; border-bottom: 1px solid #ededed; background: #fff; box-sizing: border-box;}
.header_logo h1 {position: absolute; top:45px; left: calc(50% - 123px); margin: 0; font-size: 15px;}
.header_mainmenu {position: relative; height: 60px; border-bottom: 1px solid #ededed; background: #fff;}
.header_mainmenu nav {width: 100%;}
.ul_topmenu {display: inline-block; margin: 11px 0;}
.ul_topmenu li {float: left; font-size: 14px; color: #151515;}
.ul_topmenu li.li_color > a {color: #114de3;}
.ul_topmenu li > a {font-size: 14px; font-weight: 500; color: #151515;}
.ul_topmenu li:before {padding: 0 8px; content: '|'; color: #c4c4c4;}
.ul_topmenu li:first-child:before {content: none;}
.f_right > .ul_topmenu li:before {padding: 0 8px; content: '|'; color: #c4c4c4;}
.f_right > .ul_topmenu li:nth-last-child(1):before {content: none;}
.f_right > .ul_topmenu li:nth-last-child(1) {padding-left: 5px;}
.ul_topmenu li.li_info:before {padding: 0 10px 0 0; content: '';}
.ic_main_login {display: inline-block; width: 14px; height: 14px; margin-top: 3px; margin-right: 3px; vertical-align: top; background: url('/img/new_page/main/ic_main_login.png');}
.ic_main_signup {display: inline-block; width: 96px; height: 35px; font-size: 0; line-height: 0; background: url('/img/new_page/main/ic_main_signup.png');}
.li_signup {position: relative;}
.signup_position {position: absolute; top: 20px; right: -8px; z-index: 9;}
.ul_topmenu li > a.btn_top {padding: 5px; background: #333; color: #fff; border-radius: 2px;}
.ul_topmenu li > a.btn_top_login {padding: 5px 10px; background: #114de3; color: #fff; border-radius: 25px;}
.ul_topmenu li > a.btn_top_login:focus {outline: 2px solid #ff0000;}
.ul_logomenu {display: inline-block; margin-top: 7px;}
.ul_logomenu li {float: left;}
.ul_logomenu li > a {font-weight: 500; font-size: 15px; color: #555;}
.ul_logomenu li:before {padding: 0 15px; content: '|'; color: #ccc;}
.ul_logomenu li:first-child:before {padding: 0 15px 0 0; content: '';}
.div_logo > p {float: left; margin: 0 20px 0 0;}
.ul_mainmenu {display: inline-block; width: 100%;}
.ul_mainmenu li {float: left; text-align: center;}
.ul_mainmenu li > a {display: inline-block; margin: 0 30px; padding: 20px 0 18px 0; font-size: 16px; font-weight: bold; color: #151515;}
.ul_mainmenu > li:nth-child(1) > a {margin: 0 28px 0 0; color: #e5175b;}
.ul_mainmenu > li:nth-child(9) {float: right;}
.ul_mainmenu > li:nth-child(9) > a {margin: 0 10px 0 0; color: #114de3;}
.ul_mainmenu li > a.selected {font-weight: bold; border-bottom: 3px solid #114de3; color: #114de3;}
.ul_mainmenu li:nth-child(1) > a.selected {color: #114de3;}

.ul_mainmenu li > div {display: none; position: absolute; top: 60px; left: 0; width: 100%; margin: 0 auto; border-bottom: 1px solid #d4d4d4; background: #f4f4f4; z-index: 9;}
.ul_submenu {width: 1100px;; margin: 0 auto; }
.ul_submenu li > a {margin: 0 14px; font-size: 14px; font-weight: normal;}
.ul_submenu li:nth-child(1) > a {margin: 0 15px 0 0;}
.ul_mainmenu li:nth-child(1) .ul_submenu li:nth-child(1) > a, .ul_mainmenu li:nth-child(9) .ul_submenu li:nth-child(1) > a {color: #114de3;}
.ul_submenu + .ul_submenu > li:nth-child(1) {margin-left: 20px;}
.ul_submenu li > a:after {display:block; width: 100%; padding-bottom: 4px; content: ''; border-bottom: solid 2px #114de3; transform: scaleX(0); transition: transform 250ms ease-in-out;}
.ul_submenu li > a:hover:after, .ul_submenu li > a:focus:after {transform: scaleX(1);}

.header_mainmenu > .contents {width: 1200px;}
.header_logo > .contents, .header_topmenu > .contents {width: 1190px; padding-right: 10px; box-sizing: border-box;}
.ul_submenu {width: 1200px; margin: 0 auto; }

 /*    footer*/
.footer_wrap .contents {text-align: center;}
.footer_top {height: 680px; background: url('/img/new_page/main/footer_top.jpg') no-repeat; background-position: center; background-color:#2a2a2a; font-size: 0; line-height: 0;}
.footer_top_btn {display: inline-block;}
.footer_top_text {margin: 0 auto; margin-top: 35px; padding: 11px 35px; border: 1px solid #6f6f70; color: #a8acb1; display: block; width: 250px; font-size: 15px; line-height: 1.2;}
.footer_top_textbox {display: none; background: #2a2a2a;}
.footer_top_textbox .contents {text-align: left;}
.footer_top_textbox .contents > div {padding: 10px 0 35px 58px;}
.footer_top_textbox p {margin-bottom: 12px; font-size: 14px;color: #fff;}
.ic_hide_footer {display: none;}
.footer_logo {background: #f3f3f3}
.footer_logo ul {display: inline-block; margin: 50px 0; text-align: center;}
.footer_logo ul li {float: left; margin-left: 36px;}
.footer_logo ul li:first-child {margin-left: 0;}
.footer_bottom {padding: 35px 0; font-size: 15px; background: #fff;}
.footer_bottom .contents {text-align: left;}
.footer_bottom .contents img {margin: 0;}
.footer_bottom ul {display: inline-block; width: 100%; margin: 35px 0 25px 0;}
.footer_bottom ul li a {float: left; font-weight: 500; color: #555;}
.footer_bottom ul li:nth-child(3) a {color: #114de3;}
.footer_bottom ul li:after {float: left; padding: 0 15px; content: '|'; color: #dcdcdc;}
.footer_bottom ul li:nth-child(6):after {content: ''}
.footer_bottom .bottom_info {display: inline-block; width: 100%; color: #757575;}
.footer_bottom .bottom_info > p, .footer_bottom .bottom_info_line {margin-bottom: 10px;}
.footer_bottom .bottom_info p, .footer_bottom .bottom_info p span {font-size: 13px;}
.footer_bottom .bottom_info p span {font-weight: bold;}
.footer_bottom .bottom_info_line > p {display: inline;}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .section07_box_class01_bg, .section07_box_class02_bg, .section07_box_class04_bg, .section07_box_class05_bg, .section07_box_class06_bg, .section07_box_class07_bg {right: 64px;}
/*   .ul_mainmenu li > a {margin: 0 23px;}*/
   .ul_submenu li > a {margin: 0 15px;}
}
/*
@media screen and (-webkit-min-device-pixel-ratio:0){
  .section02 form .div_select {padding-right: 0;}
}
*/
@media screen and (min-width:0\0){
    .ul_mainmenu li > a {margin: 0 29px;}
    .ul_mainmenu li .ul_submenu li > a {margin: 0 14px;}
    .ul_mainmenu li .ul_submenu li:first-child > a {margin: 0 14px 0 0;}
}
